* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-menu {
    display: flex;
    max-width: 1216px;
    margin: 0 auto;
    padding: 20px 0px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.container h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .container-menu input {
    display: none;
} */



.logo {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo {
        display: none;
    }
}

.menu {
    display: flex;
    gap: 48px;
    position: relative;
    text-align: center;
    align-items: center;
}

@media(max-width: 800px) {
    .menu {
        gap: 15px;


    }
}

.menu label {
    display: flex;
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


.menu a {
    display: flex;
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;

}

.menu a span {
    display: flex;
    text-align: center;
}

.menu a:hover {
    color: #5619b4;
}

.btns {
    display: flex;
    gap: 16px;

}


@media(max-width: 700px) {
    .btns {
        display: none;

    }
}

.btns button {
    cursor: pointer;
    padding: 12px 24px;

}



.btn-roxo {
    background-color: #5619b4;
    border: 1px solid #5619b4;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}


.btn-branco {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
}

.modal1 {

    position: absolute;
    top: 25px;
    border: 1px solid #ccc;
    padding: 0px 15px 15px 15px;
    z-index: 10;
    background-color: #fff;
    visibility: hidden;
   

}

.bora:hover .modal1 {

    visibility: visible;

}


.modal1 a {
    margin-top: 25px;

}


.modal {
    display: flex;

}

.botao1 {
    display: none;
}

.segunda-section {
    background: url(img/Promo_site.png) no-repeat fixed;
    height: 60vh;
    background-size: 100vw;
    background-attachment: fixed;
    position: relative;



}

@media (max-width: 600px) {

    .segunda-section {
        height: 30vh;
    }

}

@media (max-width: 800px) {

    .segunda-section {
        height: 30vh;
    }
}


.background-1 {

    width: 100%;
    height: 100%;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    position: absolute;

}


.container {
    display: flex;
    max-width: 1216px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.container h1 {
    margin-top: 20vh;
    color: #fff;
    font-size: 52px;
    padding: 0 20px;

    z-index: 999;

}

@media(max-width: 800px) {
    .container h1 {
        font-size: 35px;
        margin-top: 10vh;
    }
}

@media(max-width: 600px) {
    .container h1 {
        font-size: 25px;
        margin-top: 10vh;
    }
}


.cards-duplos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F6F9;
    margin-bottom: 250px;
    height: 250px;


}

.cards {

    background-color: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding: 40px;
    border-radius: 8px;
    margin-top: -100px;
    z-index: 999;
    max-width: 500px;
    font-size: 16px;

}

.cards img {
    max-width: 125px;
}

.cards p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-estado {
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
}

@media(max-width:800px) {
    .cards-duplos {
        height: 100%;
        display: block;
        padding: 20px;
    }

    .cards {
        display: block;
        margin-top: 50px;
        margin-left: 10%;
        margin-bottom: 20px;


    }

}

.conteudo{

    width: 100%;
    margin-top: 50px;
 
   
}
.conteudo img{
   width: 100%;

    
}

.container2 {
    display: flex;
    max-width: 1216px;
    margin: 40px auto;
    align-items: center;
    margin-top: -230px;
}

.conteudo h6{
    margin-bottom: 20px;
    color: #757680;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.conteudo h5{
    margin-bottom: 20px;
    color: #000;
    font-size: 36px;
    padding-right: 35px;
    font-weight: 200;
}
.conteudo p{
    font-size: 18px;
    color: #878585;
    font-weight: 200;
    margin-bottom: 20px;
}

.conteudo .btn-estado{
    border-radius: 4px;
    border: none;
}

.container3 {
    background-color: #f3f6f9;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.container4{
    width: 1200px;
    display: flex;
    gap: 50px;
    max-width: 1216px;
    margin: 0 auto;
    align-items: center;
}




@media(max-width:1500px){
    .container2{
        padding-left: 20px;
    }
}

@media(max-width:800px){
    .container2{
        display: block;
        padding-top: 50px;
    }
}

.info{
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0,0,10px,0.8 #000;
}

.conteudo-info
{
    padding: 20px;
}

